@page "{handler?}"
@model IndexModel

@{
    ViewData["Title"] = "Home page";
   // string bearerToken = RefreshToken();
}

<div class="text-left">
    <h1 class="display-4">TEST</h1>
    <p>Hello! The time on the server is @DateTime.Now</p>
    <input type="text" id="apiValue" value="@IndexModel.apiKey" name="apiString">
    <input type="submit" name="apiConfirm" value="Confirm" asp-page-handler="Submit">
    <button id="red" class="but">TEST</button></font>
   
</div>
  <script>
                    $('#red').click(function(){
                        $.post("Test", { @IndexModel.Get(IndexModel.apiKey) }, function (data) {
                            alert('updated');                            
                    });
                    });
                    </script>




@{
    
    //string RefreshToken()
    //{
    //    return @Model.bearertoken;
    //}
}