@page "{handler?}"
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    string bearerToken = RefreshToken();
}

<div class="text-center">
    <h1 class="display-4">TEST</h1>
    <p>Hello! The time on the server is @DateTime.Now</p>
    <form id="form1" runat="server" method="post">
        <input type="text" id="apiValue" value="@Model.apiKey" name="apiString">
        <input type="submit" name="apiConfirm" value="Confirm" asp-page-handler="Submit">
    </form>

</div>



<div class="text-left">    
    
    <p>TOKEN: @bearerToken</p>

</div>

@{
    
    string RefreshToken()
    {
        return Model.bearertoken;
    }
}