@page
@model TestModel

@{
    ViewData["Title"] = "Test API";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <p>Learn about <a href="https://metanit.com/sharp/aspnet5/2.2.php">go to the site Metanit</a>.</p>
    <p>TOKEN: @IndexModel.bearertoken</p>
</div>