@using AlgoritmWeb.Controllers
<body >

                <h5><label for="Data">Добавить организацию по API token </label></h5>
                <form method="post" asp-controller="AddOrganization" asp-action="CreateOrg">
                    <input id="Data" name="key" type="text" />
                    <input type="submit" value="Добавить" />
                </form>
             
</body>
