<link rel="stylesheet" href="~/lib/jsTree/dist/themes/default/style.min.css" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jsTree/dist/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var selectedItems = [];
                for (i = 0, j = data.selected.length; i < j; i++) {

                    //Fetch the Id.
                    var id = data.selected[i];

                    //Remove the ParentId.
                    if (id.indexOf('*') != -1) {
                        id = id.split("*")[1];
                    }

                    //Add the Node to the JSON Array.
                    selectedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id                        
                    });
                }

                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(selectedItems));
            }).jstree({
                "core": {
                "themes": { "stripes": true },
                "data": @Html.Raw(ViewBag.Json)},
                "checkbox": {"keep_selected_style": false},
                "plugins": ["wholerow", "checkbox", "types", "state"],
                "types": {
                "file": {
                    "icon": "jstree-file",
                    "valid_children": []
                }
            }
            });
        });
    </script>
<table board="1" style="float: right" width="40%">
    <tr><th>Заказ</th><th>Внешенее меню</th></tr>
    <tr>
        <td valign ="top">
          @* <textarea style="width:350px; height:15vw;" name="selectedItems" id="selectedItems" readonly></textarea>*@
            <P style="width:350px; height:15vw;">
               <component>
          @if (WorkSpaceController.items !=null)
            {
              
                    foreach (var itemMenu in WorkSpaceController.items)
            {
                        @itemMenu.text <br />
                    }  
            
            }
                </component>
            </P>
        </td>
        <td>
                <div class="prokrutka" id="jstree"></div>
            <form method="post" asp-controller="WorkSpace" asp-action="CreateOrder">
                <input type="hidden" name="selectedItems" id="selectedItems" />
                <input type="submit" value="Добавить в заказ" />
            </form>
        </td>
    </tr>
</table>


<style>
    .prokrutka {
        height: 85vh; /* высота нашего блока */
        width: 30vw; /* ширина нашего блока */
        background: #fff; /* цвет фона, белый */
        overflow-x: scroll; /* прокрутка по горизонтали */
        overflow-y: auto; /* прокрутка по вертикали */
    }
</style>