    <!DOCTYPE html>
<nav>
    <ul class="topmenu">
        <li>
            <a asp-controller="AddOrganization" asp-action="Index" class="active">Главная<span class="fa fa-angle-down"> </span> </a>
            <ul class="submenu">

                <li>
                    <a asp-controller="AddOrganization" asp-action="AddOrg">Добавить организацию<span class="fa fa-angle-down"></span></a>
                   @* <ul class="submenu">
                        <li><a href="">меню третьего уровня</a></li>

                    </ul>*@
                </li>

            </ul>
        </li>
        <li><a asp-controller="WorkSpace" asp-action="Privacy">Компания</a></li>
    </ul>
</nav>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Algoritm WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlgoritmWeb.styles.css" asp-append-version="true" />



</head>
<body>@RenderBody()</body>